<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggle" aria-controls="navtoggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navtoggle">
        <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
        <%= link_to "Home", root_path, :class => 'navbar-brand' %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Applications", applications_path, :class => 'nav-link' %>
            <% end %>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          <% if user_signed_in? %>
          <li class="nav-item">
            <span class="navbar-text">Signed in as: <strong><%= current_user.email %></strong> | </span>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign In", new_user_session_path, :class => 'nav-link'  %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <%= yield %>
    <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
    <% end %>
  </div>
</body>
</html>
